div.parent{
    height: 150px;
    width: 100%;
  display: flex;
 background: #ffffe6;
 align-items: center;
 justify-content: space-around;
 border-radius: 60px;


}

div.child {
    height: 70px;
    width: 200px;
    background-color: #f7d43c;
    border-radius: 70px;
    overflow: hidden;
   text-align: center; 

}


/* --------shop div ---------*/
div.child:nth-child(3){
    background-color:#f7d43c;
    width: 270px;
    height: 90px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
div.child:nth-child(3) img{
    width: 50%;
    height: 60%;
    display: flex;
    object-fit: contain;
    

}
div.child:nth-child(3) div{
   font-weight: bold;
   height: 20%;
   margin-right: 5px;
   padding-right: 20px;
   

}



/* --------shop div ---------*/
.product-card{
    height: 350px;
    width: 20%;
    background-color:#f95f0d;
    object-fit: contain;
    border-radius: 70px ;
    overflow: hidden;
    margin-right: 4px;
  
    

    
    
}
.product-card img{

width: 100%;
object-fit: cover;
height: 200px;
overflow: hidden;




}

div.card-content{
    background-color: #f7edc1;
    width: 100%;
    height: 150px;
    object-fit: contain;
    overflow: hidden;
    align-items: center;
    text-align: center;
    
}


button{
    border-radius: 50px;
    width: 60%;
    height: 30px;
    background-color: #f7e38e;
    border: 0;
    margin-top: 1px;
}


div.product-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
}

div.product-type > div{
    font-weight: bold;
}



div.content{
    display: flex;
    width: 100%;
    justify-content: space-around;
}